/* HTML Defaults */
html {
	font-family: 'Segoe UI', sans-serif;
}

/* Navigation */
.navbar-brand {
	font-weight: 400;
	font-size: 27px !important;
}

.navbar-brand span {
	font-weight: 700;
}

.nav-item a {
	font-weight: 500;
}

/* Hero Section */
.hero-container {
	margin-top: 130px;
}

.left-hero-section h1 {
	font-weight: 700;
	font-size: 48px;
}

.left-hero-section p {
	margin-top: 25px;
	font-weight: 500;
	font-size: 19px;
}
