/* HTML Defaults */
html {
	font-family: 'Segoe UI', sans-serif;
}

/* Navigation */
.navbar-brand {
	font-weight: 400;
	font-size: 27px !important;
}

.navbar-brand span {
	font-weight: 700;
}

.nav-item a {
	font-weight: 500;
}

/* Hero Section */
.hero-container {
	margin-top: 130px;
}

.left-hero-section h1 {
	font-weight: 700;
	font-size: 48px;
}

.left-hero-section p {
	margin-top: 25px;
	font-weight: 500;
	font-size: 19px;
}

.start-btn {
	background-color: #5086f2;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 8px 30px 8px 30px;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 17px;
	border-bottom: 8px solid;
	border-color: #3b68c1;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.start-btn:hover {
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	background-color: #6090f0;
	border-color: #4871c2;
}

.priced-btn {
	background-color: #5086f2;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 8px 30px 8px 30px;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 17px;
	border-bottom: 8px solid;
	border-color: #3b68c1;
}
