<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WebFlow | Home</title>

		<!-- CSS Styling -->
		<link rel="stylesheet" href="/assets/css/home.css" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-none">
			<div class="container-fluid">
				<a class="navbar-brand px-4" href="#">Web<span>Flow</span></a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mx-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active px-4" aria-current="page" href="#"
								>Home</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link px-4" href="#">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-4" href="#">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-4" href="#">FAQ</a>
						</li>
					</ul>
					<button class="nav-start-btn">Get Started</button>
				</div>
			</div>
		</nav>

		<section>
			<div class="container hero-container">
				<div class="row align-items-center">
					<div class="col left-hero-section">
						<h1>Performance at your<br />finger tips</h1>
						<p>
							The only web hosting solution you'll ever<br />need for every type
							of project.
						</p>
						<button class="start-btn">Start For Free</button>
						<button class="priced-btn">Priced Edition</button>
					</div>
					<div class="col right-hero-section">
						<img
							src="/assets/images/server.png"
							alt="Server Image"
							height="302px"
							width="490px"
						/>
					</div>
				</div>
			</div>
		</section>
		<h1 class="pricing-heading">Pricing</h1>

		<section class="pricing-section">
			<div class="row text-center justify-content-center">
				<div class="col-md-3">
					<div class="card mb-4 box-shadow">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">Beginner</h4>
						</div>
						<div class="card-body">
							<h1 class="card-title pricing-card-title">
								£0 <small class="text-muted">/ mo</small>
							</h1>
							<p class="card-text">
								Free for small personal and hobby projects.
							</p>
							<ul class="list-unstyled mt-3 mb-4">
								<li>250GB HDD Storage</li>
								<li>50GB/S Bandwith</li>
								<li>Help center access</li>
								<li>1 Domain</li>
							</ul>
							<button class="priced-btn">Start For Free</button>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card mb-4 box-shadow">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">Pro</h4>
						</div>
						<div class="card-body">
							<h1 class="card-title pricing-card-title">
								$50 <small class="text-muted">/ mo</small>
							</h1>
							<p class="card-text">
								For professional and intermediate projects.
							</p>
							<ul class="list-unstyled mt-3 mb-4">
								<li>500GB HDD Storage</li>
								<li>200GB/S Bandwith</li>
								<li>Help center access</li>
								<li>5 Domains</li>
							</ul>
							<button class="priced-btn">Start With Plan</button>
						</div>
					</div>
				</div>

				<div class="col-md-3 text-center">
					<div class="card mb-4 box-shadow">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">Enterprise</h4>
						</div>
						<div class="card-body">
							<h1 class="card-title pricing-card-title">
								$100 <small class="text-muted">/ mo</small>
							</h1>
							<p class="card-text">
								Intended for large projects or business projects.
							</p>
							<ul class="list-unstyled mt-3 mb-4">
								<li>1TB HDD Storage</li>
								<li>Unlimited Bandwith</li>
								<li>Help center access</li>
								<li>Unlimited Domains</li>
							</ul>
							<button class="priced-btn">Get in Contact</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="container">
			<footer class="pt-4 my-md-5 pt-md-5 border-top">
				<div class="row">
					<div class="col-12 col-md">
						<h2 class="footer-logo">Web<span>Flow</span></h2>
						<small class="d-block mb-3 text-muted"
							>WebFlow, Inc. Registered in the United<br />Kingdom.</small
						>
					</div>
					<div class="col-6 col-md">
						<h5>Company</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-muted" href="#">News</a></li>
							<li><a class="text-muted" href="#">Privacy Policy</a></li>
							<li><a class="text-muted" href="#">Terms & Service</a></li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Resources</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-muted" href="#">FAQ</a></li>
							<li><a class="text-muted" href="#">Contact</a></li>
							<li><a class="text-muted" href="#">Pricing</a></li>
							<li><a class="text-muted" href="#">Support</a></li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Socials</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-muted" href="#">Twitter</a></li>
							<li><a class="text-muted" href="#">Facebook</a></li>
							<li><a class="text-muted" href="#">Instagram</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>

		<!-- Bootstrap Script -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
	</body>
</html>
